<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#633a11">

    <link rel="apple-touch-icon" href="/icons/icon-192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.png">
    

    <title>Restaly</title>
</head>
<body>
    
    <!-- Skip to Content -->
    <a href="#goheader" class="skip-link">Skip Navbar Go To Header</a>

    <!-- navbar -->
    <nav>
        <div class="logo">
            <img src="logo.svg" alt="logo">
            <H1>RESTALY</H1>
        </div>

        <a id="hamburger" href="#">☰</a>

        <ul id="menu" class="menu">
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="#https://fidaatag.github.io/">About Us</a></li>
            <li class="menubooking"><a class="BookingBurger" href="#bookingnow">Booking</a></li>
        </ul>

        <div class="booking">
            <button tabindex="-1"><a class="BookNav" href="#bookingnow" >Booking</a></button>
        </div>
    </nav>

    <!-- hero -jumbroton -->
    <div class="hero" title="food delicious">
        <div class="text">
            <h2 tabindex="0" id="goheader">Where should we eat?</h2>
            <p tabindex="0">Perhaps no question has ever caused more debate among family members, significant others and friends.</p>
        </div>  
    </div>

    <!-- main-->
    <main>

        <!-- Display Resto -->
        <div class="restocard restodetail" id="showresto">
            
        </div>
        
        <!-- booking-form 
        <div class="restobooking" id="bookingnow">
            <div class="titlebooking">
                <h3 tabindex="0">Booking Now</h3>
                <span></span>
            </div>
            <div class="getreservation">
                <img src="header.jpg" alt="delicious food photos">
                <form action="" class="form">
                    <div class="name">
                    <label for="name">Name</label>
                        <input type="text" placeholder="full name">
                    </div>
                    <div class="phone">
                        <label for="">Phone</label>
                        <input type="text" placeholder="phone number">
                    </div>
                    <div class="email">
                        <label for="">Email</label>
                        <input type="text" placeholder="addres email">
                    </div>
                    <div class="name-resto">
                        <label tabindex="0">Restaurants</label>
                        <select name="people" id="people" required>
                            <option value="1">Noperstar Delala (NoDel) - New York</option>
                            <option value="2">Juzuna Gulex - Los Angeles</option>
                            <option value="3">Zoel Express - Seattle</option>
                            <option value="4">Renilla Glo - Los Angeles</option>
                            <option value="5">Zapapa Delios - Los Angeles</option>
                            <option value="6">Ci Siamo - Chicaago</option>
                            <option value="7">The Wilder - Chicaago</option>
                            <option value="8">Suerte - Portland</option>
                            <option value="9">Crown Shy - Austin</option>
                        </select>
                    </div>
                    <div class="date">
                        <label tabindex="0">What is the date ?</label>
                        <input type="date" name="time" id="time" placeholder="Time" required>
                    </div>
                    <div class="time">
                        <label tabindex="0">What time ?</label>
                        <select name="people" id="people" required>
                            <option value="1">Full day</option>
                            <option value="2">7am - 1pm</option>
                            <option value="3">3pm - 7pm</option>
                            <option value="4">7pm - 1am</option>
                        </select>
                    </div>
                    <div class="btn-booking">
                        <button type="submit">Booking</button>
                    </div>
                </form>
            </div>
        </div>-->
        
        <!-- slide review 
        <div class="review">
            <div class="titlereview">
                <h3 tabindex="0">What Did They Say?</h3>
                <span></span>
            </div>
            <div class="reviewcontent">
            </div>
        </div>-->

    </main>

     <!-- footer -->
    <footer>

        <div class="footer1">
            <div class="footerlogo">
                <img src="logo.svg" alt="" srcset="">
                <H3 tabindex="0">RESTALY</H3>
            </div>           
            <div class="footermenu" >
                <a href="#" tabindex="-1">Home</a> 
                <a href="#" tabindex="-1">Favorite</a> 
                <a href="#" tabindex="-1">About Us</a>
            </div>
        </div>

        <div class="footer2">
            <a href="#" class="moreinfo">
                    <img src="maps.svg" alt="located">
                    <P>New York, USA.</P>
            </a>  
            <a href="#" class="moreinfo">
                <img src="telpon.svg" alt="Call Center">
                <p>+89 2330 43222 232</p>
            </a>
            <a href="#" class="moreinfo">
                <img src="email.svg" alt="Email addres">
            <p>sayhello@restaly.com</p> 
            </a>
        </div>

        <div class="footer3">
            <div class="about">
                <h3>About Company</h3>
                <p tabindex="0">Find recommendations for the best Italian restaurants in your city 
                and share your experience here to become a TALIOR RESTALY.</p>
            </div>
            <div class="sosmed" tabindex="-1">
                <a href="#"><img src="facebook.svg" alt="Our facebook"></a>
                <a href="#"><img src="instagram.svg" alt="Our instagram"></a>
                <a href="#"><img src="twitter.svg" alt="Our twitter"></a>
                <a href="#"><img src="youtube.svg" alt="Our youtube"></a>
            </div>
        </div>

        <div class="copyright">
            <span></span>
            <p>Copyright © 2022 <strong>RESTALY</strong> All rights reserved</p>
        </div>

    </footer>
    
</body>
</html>