.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #faeab1;
    color: #473008;
    z-index: 100;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 30px;
    width: 200px;
    height: 64px;
}
  
.skip-link:focus {
    top: 0;
    border: 2px ;
    border-style:dashed;
    border-color: rgb(109, 25, 25);
}